body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('img/AI\ BG.jpeg') no-repeat center center fixed;
    background-size: cover;
    
  }
  
  
  .logo-container {
    text-align: center;
    margin-bottom: 20px;
    position: absolute; 
    top: 60%; 
    left: 63.5%; 
    transform: translateX(-50%); 
  }
  
  
  .logo {
    width: 150px;
    height: auto;
    cursor: move; 
    animation: bounce 3s infinite ease-in-out;
  }
  
  
  .logo-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #007bff;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    width: 0;
    animation: typing 4s steps(20) infinite, blink 0.5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink {
    100% { border-color: transparent; }
  }
  
  
  @keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); 
    }
  }
  
  
  .form-container {
    display: flex;
    gap: 20px;
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  form {
    background: rgba(255, 255, 255, 0.85); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    margin-bottom: 15px;
    color: #242424;
  }
  
  input[type="text"], input[type="email"], input[type="password"], select, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[name="timeIn"] {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[name="timeOut"] {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    width: 90%;
    padding: 10px;
    background-color: #00be00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2ab300;
  }
  